@import 'util/shade';

@import 'theme/font';
@import 'theme/color';
@import 'theme/power';

@import 'components/window';
@import 'components/taskbar';
@import 'components/buttons';

@import 'components/elements';

@import 'theme/icons';

body {
  margin: 0;
  background-color: $default-desktop-background-color;
  font-family: 'mssansserif', sans-serif;
}
